services:
  api:
    container_name: api
    build:
      context: ../
      dockerfile: Dockerfile.dev
    ports:
      - "3002:3000"
    volumes:
      - ../:/usr/src/app
      - /usr/src/app/node_modules
    environment:
      - NODE_ENV=development
      - CASSANDRA_CONTACT_POINTS=cassandra
      - CASSANDRA_KEYSPACE=elysia_dev
    depends_on:
      cassandra:
        condition: service_healthy
      localstack:
        condition: service_healthy
      localstack-init:
        condition: service_completed_successfully
    command: ["bun", "dev"]
