services:
  localstack:
    image: localstack/localstack:3.8.1
    ports:
      - "4566:4566"
      - "4510-4559:4510-4559"
    environment:
      - SERVICES=sqs,s3,events,eventbridge
      - EVENTBRIDGE_ENDPOINT_URL=http://localhost:4566
      - PROVIDER_OVERRIDE_EVENTS=v2
      - DEBUG=0
      - LOCALSTACK_HOST=localhost.localstack.cloud
      - EXTRA_CORS_ALLOWED_ORIGINS=https://app.localstack.cloud
      - DISABLE_CORS_CHECKS=1
      - SQS_DISABLE_CLOUDWATCH_METRICS=1
    restart: unless-stopped
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:4566/_localstack/health"]
      interval: 5s
      timeout: 5s
      retries: 10

  localstack-init:
    container_name: localstack-init
    image: amazon/aws-cli:latest
    environment:
      - AWS_ACCESS_KEY_ID=test
      - AWS_SECRET_ACCESS_KEY=test
      - AWS_DEFAULT_REGION=us-east-1
    entrypoint: /bin/sh
    command:
      - -c
      - |
        echo "Aguardando LocalStack..."
        sleep 5
        echo "LocalStack ok"
        echo "Criando bucket fiapx-video-parts"
        aws --endpoint-url=http://localstack:4566 s3 mb s3://fiapx-video-parts
        echo "Bucket fiapx-video-parts criado"

    depends_on:
      localstack:
        condition: service_healthy
