services:
  orchestrator-worker:
    build:
      context: ..
      dockerfile: Dockerfile.workers
    container_name: orchestrator-worker
    command: ["bun", "run", "workers/src/orchestrator-worker.ts"]
    environment:
      - AWS_ENDPOINT_URL=http://localstack:4566
      - AWS_ACCESS_KEY_ID=test
      - AWS_SECRET_ACCESS_KEY=test
      - AWS_REGION=us-east-1
      - SQS_QUEUE_URL=http://localstack:4566/000000000000/orchestrator-queue
      - PRINT_QUEUE_URL=http://localstack:4566/000000000000/print-queue
      - S3_INPUT_BUCKET=fiapx-video-parts
      - SEGMENT_DURATION=10
    depends_on:
      localstack-init:
        condition: service_completed_successfully
    restart: unless-stopped

  print-worker:
    build:
      context: ..
      dockerfile: Dockerfile.workers
    container_name: print-worker
    command: ["bun", "run", "workers/src/print-worker.ts"]
    environment:
      - AWS_ENDPOINT_URL=http://localstack:4566
      - AWS_ACCESS_KEY_ID=test
      - AWS_SECRET_ACCESS_KEY=test
      - AWS_REGION=us-east-1
      - SQS_QUEUE_URL=http://localstack:4566/000000000000/print-queue
      - S3_INPUT_BUCKET=fiapx-video-parts
      - S3_OUTPUT_BUCKET=fiapx-video-frames
      - FRAME_INTERVAL=1
    depends_on:
      localstack-init:
        condition: service_completed_successfully
    restart: unless-stopped
