services:
  database:
    image: scylladb/scylla:latest
    container_name: scylladb
    ports:
      - "9042:9042"
    environment:
      - SCYLLA_CLUSTER_NAME=fiap-image
      - SCYLLA_DC=dc1
      - SCYLLA_RACK=rack1
      - SCYLLA_START_RPC=true
    volumes:
      - scylladb-data:/var/lib/scylla
    healthcheck:
      test: ["CMD-SHELL", "cqlsh -e 'describe keyspaces' || exit 1"]
      interval: 10s
      timeout: 5s
      retries: 12
      start_period: 30s

volumes:
  scylladb-data:
